<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>IMCG</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown" style="padding: 40px 5px;">
      <div>
        <%= link_to(root_path) do %>
          <div class="metodista-logo large m-b-lg"></div>
        <% end %>
        <%= yield %>
        <p class="m-t-n m-b-xl">
          <small>
            <% if devise_controller? %>
              <p class="m-t-lg">---<br/><%= t('people.members_form.help_message') %></p>
            <% else %>
              <p class="m-b-xs">---<br/><strong><%= t('general.imcg_restricted') %></strong></p>
              <p>
                <%= t('general.enter_restricted_message') %>
                <%= link_to t('general.action.click_here'), user_session_path %>
              </p>
            <% end %>
          </small>
        </p>
      </div>
    </div>
    <span data-layout='flash'><%= render 'layouts/application/flash' %></span>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
